body {
  background-color: #b3e4fd;
  text-align: center;
}

h1 {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

a {
  color:rgb(212, 8, 131);
}

.table-border {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#bold {
    font-weight: bold;
}

.img-container {
  text-align: center;
}

.img-container > div {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .img-container > div {
    display: block;
    margin: 10px auto;
  }
}