.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

body{
    margin:0;
    background-color: rgb(238, 232, 212);
}

.navbar_menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;;
}

.navbar_menu li{
    padding: 8px 30px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(101, 101, 101);
}

.contents{
    display: flex;
    align-items: center;
    margin-left: 700px;
    margin-top: 50px;
}

.contents p{
    margin-right: 300px;
    font-size: 30px;
}

.SNS{
    padding-top: 280px;
    text-align: center;
    font-size: 23px;
}

.SNS img{
    height: 21px;
}

@media(min-width:800px){
    .contents img{
        height: 20px;
    }
}
